//colors
$primary-color: black;
$secondary-color: white;
$terciary-color: #FF006E;

$otros-colores:(
    quaternary: #686963,
    quinary: #E6FF00,
);

//padding main
$padding-titulos: 20px;

//font
$font-family: "Helvetica";

