
footer{
    background-color: $primary-color;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}