
#paginasDeProductos {
    font-family: $font-family;
    color: $primary-color;
    font-weight: bold;
    font-size: 15px;
    padding: $padding-titulos;
    @include media-query-mobile{
        padding-top: 60px;
    }
    
    h1{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: $primary-color;
        padding: 10px;
        @include media-query-mobile {
            font-size: 25px;
            padding: $padding-titulos;
        }
    }
    .titulos-productos {
        width: 100%;
        height: auto;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        h2 {
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
            letter-spacing: 2px;
        }
    }
    
}



