
#paginasDeProductos {
    font-family: "Helvetica";
    color: $primary-color;
    font-weight: bold;
    font-size: 15px;
    padding-top: $padding-top;
    @include media-query-mobile{
        padding-top: 20px;
    }
    
    h1{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: $primary-color;
        padding: 10px;
        @include media-query-mobile {
            font-size: 25px;
            padding: 40px;
        }
    }
    .titulos-productos {
        width: 150px;
        height: auto;
        align-items: center;
        img {
            width: 150px;
            height: auto;
        }
        h2 {
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
            letter-spacing: 2px;
        }
    }
    
}



